.Rectangle6 {
  position: absolute;
  width: 150px;
  height: 5px;
  left: 175px;
  top: 22px;
  z-index: 1;
  background: #D9D9D9;
  border-radius: 7px;
}
.Rectangle7 {
  position: absolute;
  width: 70px;
  height: 5px;
  left: 175px;
  top: 22px;
  z-index: 1;
  background: #F16566;
  border-radius: 7px;
}

.textClass {
  position: absolute;
  width: 417px;
  height: 35px;
  left: calc(50% - 417px / 2 - 0.5px);
  top: calc(50% - 35px / 2 - 155.5px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 111.52%;
  text-align: center;
  color: #f16566;
}

.p {
  position: absolute;
  width: 9px;
  height: 24px;
  left: calc(48% - 9px / 2 + 4.5px);
  top: calc(173% - 24px / 2 - 64px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 111.52%;
  color: #f16566;
}

.Rectangle19 {
  position: absolute;
  width: 350px;
  height: 50.18px;
  left: calc(50% - 350px / 2 + 6px);
  top: calc(50% - 50.18px / 2 - 60.91px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.Rectangle25 {
  position: absolute;
  width: 350px;
  height: 50.18px;
  left: calc(50% - 350px / 2 + 6px);
  top: calc(50% - 50.18px / 2 + 7.09px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.Rectangle26 {
  position: absolute;
  width: 350px;
  height: 50.18px;
  left: calc(50% - 350px / 2 + 6px);
  top: calc(50% - 50.18px / 2 + 75.09px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.Rectangle27 {
  position: absolute;
  width: 350px;
  height: 50.18px;
  left: calc(50% - 350px / 2 + 6px);
  top: calc(50% - 50.18px / 2 + 143.09px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
