.Rectangle7 {
  position: absolute;
  width: 150px;
  height: 5px;
  left: 175px;
  top: 25px;
  z-index: 1;
  background: #f16566;
  border-radius: 7px;
}

.textClass {
  position: absolute;
  width: 423px;
  height: 56px;
  left: calc(50% - 423px / 2 - 0.5px);
  top: calc(50% - 56px / 2 - 159px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 111.52%;
  text-align: center;
  color: #f16566;
}

.p {
  position: absolute;
  width: 127px;
  height: 16px;
  left: 160px;
  top: 282px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 111.52%;
  text-align: center;
  color: #f16566;
}

.searchBar {
  box-sizing: border-box;
  position: absolute;
  width: 249px;
  height: 38px;
  padding-left: 40px;
  font-weight: bold;
  color: #f16566;
  left: calc(50% - 249px / 2 - 0.5px);
  top: calc(50% - 38px / 2 - 33px);
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.pinIcon {
  position: absolute;
  width: 16px;
  height: 23px;
  left: 140px;
  top: 231px;
  z-index: 1;
  background: url(../../../public/pinIcon.png);
}

.checkbox {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 141px;
  top: 281px;
  background: #fffefe;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
}

.button {
  position: absolute;
  width: 249px;
  height: 38px;
  left: calc(50% - 249px / 2 - 0.5px);
  top: calc(50% - 38px / 2 + 60px);
  background: #f16566;
  border-radius: 20px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  line-height: 111.52%;
  text-align: center;
}
