.wrapper {
    position: relative;
    width: 450px;
    height: 500px;
    background: #fffefe;
    border-radius: 5px;
    left: 315px;
  }
  .modalClass {
    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 5px;
    background: #f1efef;
  }
  .cancel {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 21px;
    top: 20px;
    left: 420px;
    z-index: 5;
    background: url(../../../public/cancel.png);
  }

  .leftArrow {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 26px;
    top: 17px;
    z-index: 1;
    background: url(../../../public/left-arrow\ .png);
  }