.p {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -410px;
  padding-top: 200px;
  top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 111.52%;
  text-align: center;
  color: #f16566;
}
.leftArrow {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 436px;
  z-index: 1;
  background: url(../../../public/left-arrow\ .png);
}
