.flat {
  position: absolute;
  width: 146.76px;
  height: 105px;
  left: calc(50% - 146.76px / 2 - 89.62px);
  top: calc(50% - 58.64px / 2 - 63.12px);
  background: url(../../../public/Flat.png);
  background-repeat: no-repeat;
}
.low {
  position: absolute;
  width: 146.76px;
  height: 105px;
  left: calc(50% - 146.76px / 2 + 88.68px);
  top: calc(50% - 72.79px / 2 - 70.19px);
  background: url(../../../public/Low.png);
}
.moderate {
  position: absolute;
  width: 146.76px;
  height: 125px;
  left: calc(50% - 146.76px / 2 - 88.68px);
  top: calc(50% - 93.54px / 2 + 112.45px);
  background: url(../../../public/Moderate.png);
  z-index: 2;
}
.steep {
  position: absolute;
  width: 146.76px;
  height: 155px;
  left: calc(50% - 146.76px / 2 + 89.62px);
  top: calc(50% - 124.67px / 2 + 97.35px);
  background: url(../../../public/Steep.png);
  z-index: 2;
}

.Rectangle6 {
  position: absolute;
  height: 3px;
  left: 0px;
  right: 0px;
  top: 50px;
  background: #d9d9d9;
}
.Rectangle7 {
  position: absolute;
  height: 3px;
  left: 0px;
  right: 221px;
  top: 50px;
  background: #6574ff;
}

.textClass {
  position: absolute;
  width: 417px;
  height: 35px;
  left: 50px;
  right: 50px;
  top: 87px;
  bottom: 383px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 111.52%;
  color: #6574ff;
}
