.Rectangle6 {
  position: absolute;
  width: 150px;
  height: 5px;
  left: 175px;
  top: 24px;
  background: #D9D9D9;
  border-radius: 7px;
  z-index: 1;
}
.Rectangle7 {
  position: absolute;
  width: 120px;
  height: 5px;
  left: 175px;
  top: 24px;
  z-index: 1;
  background: #F16566;
  border-radius: 7px;
}

.textClass {
  position: absolute;
  width: 310px;
  height: 48px;
  left: calc(50% - 310px / 2 + 4px);
  top: calc(50% - 48px / 2 - 163px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 111.52%;
  text-align: center;
  color: #f16566;
}

.p {
  position: absolute;
  width: 61px;
  height: 18px;
  left: 40px;
  top: 11px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 111.52%;
  color: #f16566;
  z-index: 1;
}

.asphalt {
  position: absolute;
  width: 127px;
  height: 38px;
  left: calc(50% - 127px / 2 - 71.5px);
  top: calc(50% - 38px / 2 - 30px);
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.clay {
  position: absolute;
  width: 127px;
  height: 38px;
  left: calc(50% - 127px / 2 + 70.5px);
  top: calc(50% - 38px / 2 - 30px);
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.concrete {
  position: absolute;
  width: 127px;
  height: 38px;
  left: calc(50% - 127px / 2 - 71.5px);
  top: calc(50% - 38px / 2 + 19px);
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.copper {
  position: absolute;
  width: 127px;
  height: 38px;
  left: calc(50% - 127px / 2 + 70.5px);
  top: calc(50% - 38px / 2 + 19px);
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.metal {
  position: absolute;
  width: 127px;
  height: 38px;
  left: calc(50% - 127px / 2 - 71.5px);
  top: calc(50% - 38px / 2 + 68px);
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.state {
  position: absolute;
  width: 127px;
  height: 38px;
  left: calc(50% - 127px / 2 + 70.5px);
  top: calc(50% - 38px / 2 + 68px);
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.wood {
  position: absolute;
  width: 127px;
  height: 38px;
  left: calc(50% - 127px / 2 - 0.5px);
  top: calc(50% - 38px / 2 + 117px);
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
