.union {
  position: absolute;
  width: 155.57px;
  height: 109.66px;
  left: calc(50% - 155.57px / 2 - 0.6px);
  top: calc(50% - 109.66px / 2 - 58.17px);
  background: url(../../../public/Union.png);
}

.Rectangle6 {
  position: absolute;
  height: 3px;
  left: 0px;
  right: 0px;
  top: 50px;
  background: #d9d9d9;
}
.Rectangle7 {
  position: absolute;
  height: 3px;
  left: 0px;
  right: 377px;
  top: 50px;
  background: #6574ff;
}

.textClass {
  position: absolute;
  left: 70px;
  right: 50px;
  top: 87px;
  bottom: 383px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 111.52%;
  color: #6574ff;
}

.vector {
  position: absolute;
  width: 15.38px;
  height: 15.38px;
  left: calc(50% - 15.38px / 2 - 0.15px);
  top: calc(50% - 15.38px / 2 - 73.89px);
  border-radius: 1px;
  background-color: #fffefe;
  background: url(../../../public/Vector.png);
}

.p {
  position: absolute;
  width: 12.8px;
  height: 25px;
  left: calc(52% - 12.8px / 2 - 0.59px);
  top: calc(105% - 25px / 2 - 41.31px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 111.52%;
  color: #6574ff;
}

.Rectangle11 {
  position: absolute;
  width: 117px;
  height: 78px;
  left: calc(50% - 117px / 2 + 0.5px);
  top: calc(50% - 78px / 2 + 43px);
  background: #d9d9d9;
  border-radius: 8px;
}
.Rectangle13 {
  position: absolute;
  width: 117px;
  height: 78px;
  left: calc(50% - 117px / 2);
  top: calc(50% - 78px / 2 + 128px);
  background: #d9d9d9;
  border-radius: 8px;
}
